/* body {
    background: linear-gradient(0deg, var(--sea-green), var(--morning-haze), var(--sea-green));
} */

.loading {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#loading {
    text-align: center;
    animation: fadeIn 1s;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #2d7c7e;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: 10px auto;
}

.logo {

    animation: popUp 1s ease-out;
    margin-bottom: 20px;
}



@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes popUp {
    from {
        transform: scale(0);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}